
OnlineShopAPI/AccountMicroservice/Account.Infrastructure/bin/

OnlineShopAPI/AccountMicroservice/Account.Infrastructure/obj/

OnlineShopAPI/AccountMicroservice/Account.Test/bin/

OnlineShopAPI/AccountMicroservice/Account.Test/obj/

OnlineShopAPI/AccountMicroservice/Account.API/bin/

OnlineShopAPI/AccountMicroservice/Account.API/obj/

OnlineShopAPI/AccountMicroservice/Account.Domain/bin/

OnlineShopAPI/AccountMicroservice/Account.Domain/obj/

OnlineShopAPI/AccountMicroservice/.vs/

OnlineShopAPI/AddressMicroservice/.vs/

OnlineShopAPI/AddressMicroservice/Address.Infrastructure/bin/

OnlineShopAPI/AddressMicroservice/Address.Infrastructure/obj/

OnlineShopAPI/AddressMicroservice/Address.Api/bin/

OnlineShopAPI/AddressMicroservice/Address.Api/obj/

OnlineShopAPI/AddressMicroservice/Address.Domain/bin/

OnlineShopAPI/AddressMicroservice/Address.Domain/obj/

OnlineShopAPI/AddressMicroservice/Address.Test/bin/

OnlineShopAPI/AddressMicroservice/Address.Test/obj/

OnlineShopAPI/PaymentInfoMicroservice/.vs/

OnlineShopAPI/PaymentInfoMicroservice/PaymentInfo.Api/bin/

OnlineShopAPI/PaymentInfoMicroservice/PaymentInfo.Api/obj/

OnlineShopAPI/PaymentInfoMicroservice/PaymentInfo.Domain/bin/

OnlineShopAPI/PaymentInfoMicroservice/PaymentInfo.Domain/obj/

OnlineShopAPI/PaymentInfoMicroservice/PaymentInfo.Infrastructure/bin/

OnlineShopAPI/PaymentInfoMicroservice/PaymentInfo.Infrastructure/obj/

OnlineShopAPI/PaymentInfoMicroservice/PaymentInfo.Test/bin/

OnlineShopAPI/PaymentInfoMicroservice/PaymentInfo.Test/obj/

OnlineShopAPI/ShoppingMicroservice/.vs/

OnlineShopAPI/ShoppingMicroservice/Shopping.Api/bin/

OnlineShopAPI/ShoppingMicroservice/Shopping.Api/obj/

OnlineShopAPI/ShoppingMicroservice/Shopping.Domain/bin/

OnlineShopAPI/ShoppingMicroservice/Shopping.Domain/obj/

OnlineShopAPI/ShoppingMicroservice/Shopping.Infrastructure/bin/

OnlineShopAPI/ShoppingMicroservice/Shopping.Infrastructure/obj/

OnlineShopAPI/ShoppingMicroservice/Shopping.Test/bin/

OnlineShopAPI/ShoppingMicroservice/Shopping.Test/obj/
