<div class="d-flex flex-wrap align-content-center" *ngIf="!isNotEmpty">
    Cart Is Empty
</div>

<div class="d-flex jumbotron jumbotron-fluid">
    <div class="col-5 list-group list-group-flush" id="sidebar">
        <div *ngIf="isNotEmpty"> 
            <div class="py-3">
                <h6 class="text-center">CART</h6>
            </div>            
            <div class="py-3" *ngFor="let items of cartItems" value="items.itemId">
                <br>
                {{items.shopItem.picture}}
                <br>
                {{items.shopItem.name}}
                <br>
                {{items.shopItem.price | currency}} * {{items.amount}}
                <hr>
            </div>
            Total: 
        </div>
    </div>
    <div class="col-1">
        <hr class="vertical">
    </div>
    <div class="col-6 py-3">
        <h6 class="text-center">CHECK OUT</h6>
        <form #checkOutForm = "ngForm">
            <div class="form-group">
                <label for="cardType" class="col-form-label">Select Payment</label>
                <div>
                    
                </div>
            </div>
            <br>
            <div class="d-grid gap-2 col-3 mx-auto">
                <button type="submit" class="btn btn-outline-dark" style="font-size: small;" [disabled]="checkOutForm.form.invalid">Purchase</button>
            </div>
        </form>
    </div>
</div>


