a:hover{
    cursor: pointer;
}

nav li a {
    display: flex;
    text-align: center;
    padding-left: 70px;
    padding-right: 75px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}