<div class="jumbotron jumbotron-fluid" >
    <div class="container" style="padding-bottom: 60px; background-color: lavenderblush;">
      <div class="row align-items-center">
        <div class="align-content-start">
          <img src="assets/image/banner.jpg" style="mix-blend-mode: multiply;">
        </div>
      </div>
    </div>
</div>

<br>

<div class="jumbotron jumbotron-fluid" style="background-color: lavender;">
  <div class="container" style="padding-top: 60px; padding-bottom: 60px;">
    <div class="row" style="font-family: 'Courier New', Courier, monospace; color: grey;">
      <div class="col-4">
        <h3 class="text-center">Disclaimer</h3>
        <p>All pictures of products used in this project belong to their respected creators/businesses. This project is just a coding practice for experience. 
          If you find that some of the products are to your liking, please go and buy it from their official sites!!!</p>
      </div>
      <div class="col-4">
        <h3 class="text-center">Florasis/Hua Xizi</h3>
        <p>Majority of the product images used was taken from an innovative make up brand born in Lake Xizi, Hangzhou. The remaining were from a third party seller, YesStyle. </p>
        <p>"Florasis explores wisdoms in traditional beauty rituals, inherits the philosophy of Chinese aesthetics and adopts modern technologies in creating their cosmetic products, 
          which features nourishment from flower and natural essences, unity of makeup and skincare, promotion of both inner and outer beauty and excellence of craftsmanship."</p>
        <p style="font-size: smaller;">The above statement was taken from their official website</p>
      </div>
      <div class="col-4">
        <h3 class="text-center">Links</h3>
        <p>Please visit <a href="https://florasis.com/" target="_blank" rel="noopener noreferrer">Florasis</a> to look and shop for more of their beautiful products!</p>
        <p>Please visit <a href="https://www.yesstyle.com/en/home.html" target="_blank" rel="noopener noreferrer">YesStyle</a> for a one stop shop to many South Korean/Japanese make up and fashion!</p>
        <p>Once again, please support the original/official creators and businesses!!</p>
      </div>
    </div>
  </div>
</div>